nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #4056A1;
  height: 120px;
  color: #FFFFFF;
  padding-left: 1.5em;
  padding-right: 1.5em;
 
}

.nav-icon {
  display: flex;
  font-family: 'Bungee', sans-serif;
  font-size: 50px;
  flex-direction: row;
  align-items: flex-end;
  padding-bottom: 10px;
 }

.nav-cta {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-bottom: 20px;
}


@media only screen and (max-width: 1024px) {

  nav {
    background-color: transparent;
  }

}