button {
  background-color: #4056A1;
  color: white;
  font-size: 24px;
  font-family: 'Bungee', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 800;
  border-bottom: none;
}

main h2 {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.new-tweet label {
  font-weight: 600;
}


textarea#tweet-text {
  background-color: #f4f1ec;
  height: auto;
  width: auto;
  border: none;
  border-bottom: 3px solid #545149;
  resize: none;
}

output.counter {
  color: #545149;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Bungee', sans-serif;
  padding-right: 15px;
}

form div {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.counter.character-error {
  color:red;
}


/*Tweet Container */

article.tweet {
  border: 3px solid #545149;
  margin-top: 40px;
}

article.tweet:hover {
  box-shadow: 10px 10px #8c9cd4;
}

article.tweet header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
}

article.tweet header div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  padding-right: 10px;
}

article.tweet header .handle {
  color: #4056A1;
  opacity: 0.5;
}

article div.tweet-content {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}

article.tweet footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 14px;
}

hr {
  width: 95%;
  border: 2px solid #545149;
}

article div.tweet-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

article div.tweet-icons i {
  margin: 5px;
  color:#4056A1;
}

article div.tweet-icons :hover {
  color: #c19a0c;
}


